.page-body {
  margin: 0;
  font-family: sans-serif;
}

.page-wrapper {
  background-image: url(../img/background.jpg);
  background-size: cover;
}

.container {
  width: 1030px;
  margin: 0 auto;
}

/* --------------------header---------------- */
.header {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-auto-rows: min-content;
  row-gap: 19px;
  justify-content: space-between;
  padding-top: 46px;
  padding-bottom: 17px;
}

.logo-wrap {
  grid-row: span 2;
}

.link-logo {
  display: block;
  text-decoration: none;
}

.logo-name {
  display: inline-block;
  width: 140px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 8px;
}

.logo-name::first-line {
  font-size: 29px;
  line-height: 29px;
}

.contacts {
  justify-self: end;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}

.logo-wrap:hover .logo-name {
  color: #f26522;
}

.logo-wrap:hover .logo-image {
  opacity: 0;
}
.logo-wrap:hover .link-logo {
  background-image: url(../img/logo-img-hover.png);
  background-repeat: no-repeat;
}

.contacts:hover {
  color: #f26522;
}

/* --------------------main---------------- */

.list-tours {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, max-content));
  grid-auto-rows: min-content;
  list-style: none;
  column-gap: 58px;
  row-gap: 37px;
}

.link-tours {
  text-decoration: none;
}

.image-tours {
  display: block;
  width: 100%;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-image: linear-gradient(rgba(255, 255, 255, 1), rgba(0, 0, 0, 0.1)) 2;
}

.title-tours {
  text-transform: capitalize;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}

.image-tours-wrap {
  position: relative;
  overflow: hidden;
}

.tours-price-description {
  width: calc(100% - 4px);
  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: min-content;
  justify-content: space-between;
  align-items: end;
  row-gap: 8px;
  background: #f26522;
  position: absolute;
  bottom: 0;
  left: 2px;
  transform: translateY(57px);
}

.item-tours:hover .tours-price-description {
  transform: translateY(0);
  transition: all 0.6s ease 0s;
}
.item-tours:hover .title-tours {
  color: #f26522;
}

.paragraph-price {
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
}
.start-price {
  font-size: 10px;
  line-height: 10px;
  padding-left: 16px;
  padding-top: 7px;
}
.price {
  font-size: 20px;
  line-height: 20px;
  padding-left: 16px;
  padding-bottom: 12px;
  padding-right: 5px;
}
.details-price {
  grid-row: span 2;
  font-size: 14px;
  line-height: 14px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 5px;
}
.details-price::after {
  content: ">";
  padding-left: 16px;
}

/* -------------------footer---------------- */

.copyright {
  padding-top: 49px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
}
