@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Regular.eot");
  src: url("../fonts/Ubuntu-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Ubuntu-Regular.woff2") format("woff2"),
    url("../fonts/Ubuntu-Regular.woff") format("woff"),
    url("../fonts/Ubuntu-Regular.ttf") format("truetype"),
    url("../fonts/Ubuntu-Regular.svg#Ubuntu-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Bold.eot");
  src: url("../fonts/Ubuntu-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Ubuntu-Bold.woff2") format("woff2"),
    url("../fonts/Ubuntu-Bold.woff") format("woff"),
    url("../fonts/Ubuntu-Bold.ttf") format("truetype"),
    url("../fonts/Ubuntu-Bold.svg#Ubuntu-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.page-body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  height: 100%;
}

.page-wrapper {
  display: grid;
  background-image: url(../img/background.jpg);
  background-size: cover;
  height: 100%;
}

.header-wrap {
  display: grid;
  grid-template-columns: 1fr max-content max-content;
  justify-content: space-between;
  align-items: center;

  background: rgba(0, 0, 0, 0.4);
  padding-right: 80px;
  padding-left: 80px;
}

.logo-wrap {
  margin: 0;
  padding-bottom: 18px;
  padding-top: 18px;
}

.logo-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
  margin-right: 25px;
  transition: color 0.3s ease;
}

.logo-link:hover {
  color: #236d47;
}

.icon-link {
  text-decoration: none;
  margin-right: 25px;
}

.icon-link > svg path {
  transition: fill 0.3s ease;
}
#icon-calendar:hover path {
  fill: #236d47;
}
#icon-envelope:hover path {
  fill: #236d47;
}
#icon-compass:hover path {
  fill: #236d47;
}

.welcome {
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  margin: 0;
  text-decoration: none;
}

.welcome-wrap::before {
  display: inline-block;
  content: "";
  width: 1px;
  height: 19px;
  background: rgba(255, 255, 255, 0.9);
  mix-blend-mode: normal;
  opacity: 0.5;
  vertical-align: middle;
  margin-right: 27px;
}

/* /* ----------vertical line, another method------------ */
/* .welcome-wrap::before {
 content: "";
  border-left: 1px solid rgba(255, 255, 255, 0.9);
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-right: 27px;
  } */

.welcome-wrap > a {
  transition: color 0.3s ease;
}

.login-link-header:hover {
  color: #236d47;
}
.signup-link-header:hover {
  color: #236d47;
}

/* ------------------MAIN------------------ */
.main-page {
  justify-self: center;
}

.form-signup {
  width: 444px;
}

.container-form {
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  padding: 31px 60px 38px 60px;
}

.form-header {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  align-items: center;
  row-gap: 15px;
}
.title-form {
  font-size: 20px;
  line-height: 20px;
  color: #434343;
  margin: 0;
  position: relative;
}

.title-form::before {
  content: "";
  width: 18px;
  height: 18px;
  background: #3cb878;
  left: -60px;
  position: absolute;
}

.login-link-form {
  justify-self: end;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  transition: color 0.5s ease;
}

.accent-color {
  color: #3cb878;
}

.login-link-form:hover {
  text-decoration: underline;
  color: #01813f;
}

.button-form {
  width: 160px;
  border-radius: 4px;
  color: #ffffff;
  border: none;
  padding: 0;
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  position: relative;
  transition: background-color 0.4s ease;
}

.btn-facebook::before {
  content: "";
  width: 1px;
  height: 28px;
  left: 49px;
  background-color: #0a162f;
  mix-blend-mode: normal;
  opacity: 0.1;
  position: absolute;
}

.btn-google::before {
  content: "";
  width: 1px;
  height: 28px;
  left: 49px;
  background-color: #2b0d09;
  mix-blend-mode: normal;
  opacity: 0.1;
  position: absolute;
}

.btn-facebook {
  background-color: #305db8;
}

.btn-facebook:hover {
  background-color: #022263;
  transform: scale(0.98);
}

.btn-google {
  background-color: #df4a32;
}

.btn-google:hover {
  background-color: #ab1f09;
  transform: scale(0.98);
}

.img-btn {
  justify-self: center;
}

.btn-name {
  text-transform: capitalize;
  margin: 0;
  padding: 17px 0;
}

.box-line-or {
  margin-top: 31px;
  display: flex;
  justify-content: center;
  position: relative;
}

.line-or {
  font-size: 14px;
  line-height: 14px;
  color: #848484;
  position: relative;
  margin: 0;
  background: #ffffff;
  padding: 0 2px;
}

.box-line-or::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  background: #f2f2f2;
  top: 57%;
}

.form-field {
  width: 100%;
  font-size: 14px;
  line-height: 14px;
  color: #bebebe;
  padding: 14px 10px 15px 20px;
  margin-top: 15px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
}

.form-field:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  outline: none;
  color: #434343;
}

.checkbox-wrap {
  margin-top: 12px;
  position: relative;
}

.link-terms-conditions {
  margin: 0 4px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.terms-conditions {
  position: absolute;
  left: 0;
  top: 25%;
  z-index: -1;
  opacity: 0;
  transition: color 0.3s ease;
}

.terms-conditions + label {
  font-size: 14px;
  line-height: 14px;
  color: #434343;
  display: flex;
  align-items: center;
  user-select: none;
}

.terms-conditions + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 8px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center center;
}

.terms-conditions:checked + label::before {
  background-image: url("../img/checkbox.svg");
  transition: background-image 0.3s ease;
}

.terms-conditions:checked:hover + label::before {
  background-image: url("../img/checkbox-hover.svg");
}

.link-terms-conditions:hover {
  color: #01813f;
  text-decoration: underline;
}

.btn-create-account {
  width: 100%;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  margin-top: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
  transition: background-color 0.4s ease;
}

.btn-create-account:hover {
  background: #01813f;
}
