.page-body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #000;
  font-family: sans-serif;
  overflow: hidden;
}

.audio-wrap {
  position: relative;
  top: 10px;
  left: 10px;
  z-index: 2;
}

.section-episode0 {
  display: flex;
  justify-content: center;
}

.content-wrap {
  width: 1100px;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(500px) rotateX(30deg);
  animation: star-wars 30s linear infinite;
}

.section-episode0::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  background-image: linear-gradient(
    0deg,
    transparent,
    rgba(0, 0, 0, 0.8) 80%,
    rgba(0, 0, 0, 1) 90%
  );
  width: 100%;
  height: 30%;
  z-index: 1;
}

.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 65px;
  color: yellow;
}

.text {
  color: yellow;
  text-align: justify;
  font-size: 70px;
  line-height: 1.5;
}

@keyframes star-wars {
  0% {
    top: 100%;
  }
  100% {
    top: -300%;
  }
}
