.page-body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  width: 1280px;
  margin: 0 auto;
  padding-top: 63px;
  padding-bottom: 30px;
}

.logo {
  display: flex;
  justify-content: start;
  padding-bottom: 38px;
}
.link-logo {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 94px;
  color: #000000;
}

.color-logo {
  color: #4bcaff;
}

.menu-header {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  background: #35444f;
  margin: 0;
}

.item-menu-header {
  border-left: 1px #ffffff solid;
  border-right: 1px #ffffff solid;
}

.link-menu-header {
  display: inline-block;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: none;
  padding: 26px 40px 19px;
}

.link-menu-header:hover {
  background: #222f3a;
}

.main-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 48px;
  padding-bottom: 54px;
}

.menu-aside {
  display: flex;
  flex-direction: column;
  width: 344px;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  border: 1px solid #000000;
}

.link-menu-aside {
  display: inline-block;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 27px;
  color: #495863;
  text-decoration: none;
  padding: 26px 0 26px 44px;
}

.link-menu-aside:hover {
  background: #dbdbdb;
  color: #12191f;
  padding: 26px 0 26px 70px;
}

.main-content {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
  width: 885px;
}

.image-wrap {
  display: flex;
  width: 100%;
  justify-content: center;
  /* align-items: center; */
  padding-top: 75px;
  padding-bottom: 75px;
  border: 1px solid #000000;
  cursor: pointer;
  margin-bottom: 3px;
}

.main-image {
  width: 320px;
  height: 381px;
  transition: 1s;
  /* overflow: hidden; */
}

.image-wrap:hover .main-image {
  transform: scale(1.2);
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
  margin-top: 34px;
  margin-bottom: 0;
  /* margin: 0; */
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  background: rgba(99, 105, 110, 0.48);
}

.menu-footer {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.item-menu-footer {
  margin-right: 40px;
}

.link-menu-footer {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;
  text-decoration: none;

  padding-bottom: 11px;
  padding-top: 11px;
}

.link-menu-footer:hover {
  border-bottom: 2px #3181a6 solid;
  color: #3181a6;
  /* padding-bottom: 10px;
  padding-top: 10px; */
}

.copyright {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #010101;
  padding-right: 40px;
}
