*,
*::after,
*::before {
  box-sizing: border-box;
}

.page-body {
  margin: 0;
  font-family: sans-serif;
}

.menu-list {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  text-align: center;
}

.menu-item {
  display: inline-block;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 25.5px;
  margin-bottom: 25.5px;
}

.menu-item:not(:last-child) {
  margin-right: 72px;
}

.menu-link {
  color: #ff0000;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  font-style: normal;
  line-height: 18px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}

.main-image {
  width: 100%;
  height: 100%;
}

.wrap-content {
  background: rgba(0, 0, 0, 0.0001);
  padding-top: 39px;
  padding-bottom: 42px;
}

.main-heading {
  color: #373737;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 38px;
  margin-top: 0;
}

.main-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #373737;
  text-align: center;
  letter-spacing: 2.4px;
  margin-top: 0;
  margin-bottom: 28px;
  padding-right: 67.5px;
  padding-left: 67.5px;
}

.main-button {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;

  background: #ff0000;
  border-radius: 4px;
  text-decoration: none;

  display: inline-block;
  vertical-align: middle;
  padding: 18px 43.5px 17px 42.5px;
}

.main-button-wrap {
  text-align: center;
  margin-top: 66px;
}

.copyright {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: end;
  letter-spacing: 2.4px;
  color: #373737;
  margin-top: 40px;
  margin-bottom: 29px;
  padding-right: 105px;
}
